/* Fonts */
@font-face {
    font-family: Montserrat;
    src: url('vendor/fonts/Montserrat-Regular.ttf');
}
/* Typography */
h3 {
    font-size: 6.2rem;
    color: $font-color;
}
h4 {
    font-size: 5.6rem;
    color: $font-color;
}
h5 {
    font-size: 4.0rem;
    color: $font-color;
}
p {
    font-size: 2.8rem;
    color: $font-color;
}

@include respond(tab-xs) {
    h1 {
        font-size: 3.4rem;
        line-height: 3rem;
    }
    h2 {
        font-size: 2.3rem;
        line-height: 3.2rem;
    }
    h3 {
        font-size: 2.2rem;
        line-height: 2.1rem;
    }
}