/* Sections */
.hero {
    background-color: $background;
}
.mission {
    background-color: $background;
}
.about {
    background-color: $background;
}
.partners {
    background-color: $background;
}
.testimonials {
    background-color: #47DADA;
}
.contact {
    background-color: $background;
}